.praticien-card-container {
	margin: 8rem auto;
	position: relative;
	background: var(--bg);
	border-radius: 1.75rem;
	border: 1px solid var(--border-subtle);
	text-align: center;
	box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
	transition: all 0.15 ease-in-out;

	width: clamp(300px, 100%, 1000px);
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 1fr;
	grid-template-rows: auto auto;
	padding: 1rem;
	backdrop-filter: blur(20px);
	.praticien-card-portrait {
		border: 30px solid transparent;
		border-image: url(../../assets/praticiens-assets/search-details-cadre.png)
			120 fill round;
		filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.35));
		padding: 0;
		width: fit-content;
		position: absolute;
		left: 5%;
		top: 50%;
		transform: translate(-50%, -50%);

		img {
			height: 210px;
			width: 160px;
			object-position: top;
			object-fit: cover;
		}
	}
	.praticien-card-text {
		grid-area: 1 / 2 / 2 / 4;
		place-self: center;
		margin: 0;
		max-height: 100px;
	}
	.praticien-card-btn {
		place-self: end;
		grid-area: 2 / 3 / 3 / 5;
		margin: 0;
	}
	.praticien-card-badge {
		position: absolute;
		right: -30px;
		width: 100px;
		top: -30px;
		filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.35));
	}
}
