.search-bar-label {
	position: absolute;
	left: -9999px;
}

.search-bar-input {
	padding: 0.55rem 1.25rem;
	border-radius: 50px;
	border: none;
	background: #f7f7ff;
	width: 300px;
	font-size: var(--font-p);
}

.search-bar-button {
	border: none;
	border-radius: 999px;
	padding: 0.75rem 1.5rem;
	background: var(--bg);
	color: #fff;
	font-size: var(--font-small);
	font-weight: 600;
}
